@tailwind base;
@tailwind components;
@tailwind utilities;
*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@keyframes smoothscroll1 {
  from, to { scroll-behavior: smooth; }
}

@keyframes smoothscroll2 {
  from, to { scroll-behavior: smooth; }
}

html {
  animation: smoothscroll1 1s;
}

html:focus-within {
  animation-name: smoothscroll2;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 12px;
	background-color: #FFF;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--font-color);
}
li{
  list-style-type: none;
}
body{
  background-color: #eee;
}
:root{
  --bg-color:#28394b;
  --font-color:#d30231;
}
.bg-color{
  background-color: var(--bg-color);
}
.font-color{
  color:var(--font-color);
}

.chat-area::-webkit-scrollbar {
  width: 10px; 
}

.chat-area::-webkit-scrollbar-track {
  background: #fff;
}

.chat-area::-webkit-scrollbar-thumb {
  background:#505050;
  border-radius: 10px;
  border: 2px solid #fff;
  
}
/* this active class is for navmenu which is active now*/
.active{
  background-color: var(--font-color);
  padding: 0.5rem 0.7rem;
  border-radius: 2rem;

}